/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Container Styles */

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* added border radius */
}

/* Header Styles */

h1 {
  font-size: 34px;
  margin-bottom: 15px;
  margin-left: 2%;
  margin-top: 25px;
  color: #337ab7;
  text-align: center; /* added text alignment */
}

/* Input and Button Styles */

#number {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-left: 34%;
  border-radius: 5px;
  width: 20%;
  transition: border-color 0.7s ease; /* added transition effect */
}

#number:focus {
  border-color: #992ade; /* added focus state */
  box-shadow: 0 0 10px rgb(7, 93, 191);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; /* added transition effect */
}

button:hover {
  background-color: #23527c;
}

button:active {
  background-color: #1a4d7a; /* added active state */
}

/* Table Styles */

#table {
  padding: 35px;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 3%;
  border-collapse: collapse;
  font-size: 1.3em;
  font-weight: 300;
  border: 1px solid #337ab7; /* added border */
  border-radius: 10px; /* added border radius */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #f0f0f0;
  padding: 10px; /* added padding */
  text-align: left;
}

td {
  padding: 10px; /* added padding */
  text-align: left;
  border-bottom: 1px solid #ddd; /* added border bottom */
}

/* Responsive Design */

@media (max-width: 1200px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 20px auto;
    padding: 15px;
  }
  h1 {
    font-size: 28px;
  }
  input[type="number"] {
    width: 30%;
  }
  button {
    padding: 10px 15px;
  }
  #table {
    margin-right: 20%;
    margin-left: 30%;
  }
}

@media (max-width: 576px) {
  .container {
    margin: 10px auto;
    padding: 10px;
  }
  h1 {
    font-size: 22px;
  }
  input[type="number"] {
    width: 40%;
  }
  button {
    padding: 10px 10px;
  }
  #table {
    margin-right: 10%;
    margin-left: 20%;
  }
}